<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Edit</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
</head>
<body>
{% include "base.html" %}
<form method="post" action="{% url "db:edit_staff" staff.id %}">
    <div class="card w-8/12 bg-base-100 shadow-xl mx-auto mt-5 text-center">
        <div class="card-body items-center text-center">
                {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save" class="btn btn-active btn-secondary ml-5 mt-3"/>
        </div>
    </div>
</form>
</body>
</html>